/*Solaris Cygnus McMillan created on 1/6/2026  */

/*Elements go here */

body {
	background: #afa0ba;
	background-image: url("orion.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	margin: 0;
}

h1 {
	color: #b300b3;
	text-align: center;
	text-shadow: 2px 2px 5px white;
	font-size: 60px;
	font-family: Calibri;
}

h2 {
	color: rgb(255, 117, 138);
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	text-indent: 1.5%;
	font-size: 18px;
	font-family: Arial, sans-serif;
}

div {
	background-color: white;
	border: 15px solid lightgray;
	justify-self: left;
	max-height: 600px;
	max-width: 800px;
	margin: 0 auto;
	opacity: 0.75;
	padding: 10px;
	width: auto;
}

footer {
	background-color: rgb(71, 0, 71);
	margin: 0 auto;
	max-width: 800px;
	max-height: 600px;
}


footer p {
	color: white;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
/*Id's go here */


/*Classes go here */


/* Multiple Selectors and chains go here */

a:visited {
	color: #b40000;
}

nav a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: underline;
	justify-content: center;
	text-align: center;
	text-decoration: none;
}